<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="{{ route('upload-file') }}" method="POST" enctype="multipart/form-data">
    <input type="file" accept="image/png, image/gif, image/jpeg" name="cover_image" accept="image/*"> <!-- Specify the file type you want to accept -->
    <input type="submit" value="Upload File">
  </form>

</body>
</html>
